@model Admin

@if (Model.IsCorrectPW)
    {
        <h2>Settings</h2>
        <br />
        <table>
            <tr>
                <td><button class="btn btn-primary">Upload CSV File</button></td>
            </tr>
        </table>
    }