@{
    ViewData["Title"] = "Codewars Score Finder";
}

@model User

<div class="text-center">
    <h1 class="display-4">Codewars Score Finder</h1>
    <p>Enter a Codewars username to get their stats</p>
</div>

<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="form-group">
                <input type="text" name="Username" class="form-control text-center" />
            </div>
            <br />

            <input type="submit" value="Enter" class="btn btn-primary" />
        }
    </div>
</div>

<br />

@if (Model.Name != null)
{
    <div class="align-items-center">
        <table class="table">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Honor</th>
            </tr>
            <tr>
                <td>@Model.Username</td>
                <td>@Model.Name</td>
                <td>@Model.Honor</td>
            </tr>
        </table>
    </div>
}

@if (Model.IncorrectUsername == true)
{
        <div class="align-items-center text-center text-danger">
            <h3>Username not found. Please try again</h3>
            <h4>(Capitalization matters)</h4>
        </div>
}