@{
    ViewData["Title"] = "Vs Mode";
}

@model Group

<div class="text-center">
    <h1 class="display-4">Vs Mode</h1>
</div>

<div>
    <p>
        Select the <u>second</u> group that you want for Vs Mode
    </p>
</div>

<div class="align-items-left">
    <table class="table">
        <tr>
            <th>Group Name</th>
        </tr>

        @foreach (var fileName in @Model.FileNames)
        {
            <tr>
                <td><a href="@Url.Action("Versus", "User", new { fileName = System.Net.WebUtility.UrlEncode(fileName) })">@fileName</a></td>
            </tr>
        }

    </table>
</div>