@{
    ViewData["Title"] = "User Groups";
}

@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">User Groups</h1>
</div>

<div class="align-items-left">
    <table class="table">
        <tr>
            <th>Name</th>
        </tr>

        @foreach (var fileName in Model)
        {
            <tr>
                <td><a href=/User/ViewGroup/@fileName>@fileName</td>
            </tr>
        }

    </table>
</div>